{% extends 'network/layout.html' %}

{% block title %}Following{% endblock %}

{% block body %}
    {% for post in page_obj %}
    <div class="post" id="post-{{ post.id }}">
        <a href="{% url 'profile' user_id=post.author.id %}"><strong>{{ post.author }}</strong></a>
        {% if user.is_authenticated and post.author.id == user.id %}
            <a class="edit-link" href="#">Edit</a>
        {% endif %}
        <p id="content-{{ post.id }}">{{ post.content }}</p>
        <p>{{ post.date_time }}</p>
            <div class="div-likes">
                {% if user.is_authenticated %}
                    <a class="like reactions" id="like-{{ post.id }}">
                        <i class="bi {% if post.user_liked %}bi-hand-thumbs-up-fill{% else %}bi-hand-thumbs-up{% endif %}"></i>{{ post.likes_count }}
                    </a>
                    <a class="dislike reactions" id="dislike-{{ post.id }}">
                        <i class="bi {% if post.user_disliked %}bi-hand-thumbs-down-fill{% else %}bi-hand-thumbs-down{% endif %}"></i>{{ post.dislikes_count }}
                    </a>
                {% else %}
                    <p class="like"><i class="bi bi-hand-thumbs-up"></i>{{ post.likes_count }}</p>
                    <p class="dislike""><i class="bi bi-hand-thumbs-down"></i>{{ post.dislikes_count }}</p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p class="emptyList">The {{ user.username }} has not yet subscribe to any users!</p>
    {% endfor %}
    {% if page_obj %}
        <div class="pagination-container">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:"-2" and page <= page_obj.number|add:"2" %}
                        <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

{% endblock %}