{% extends "network/layout.html" %}

{% block title %}All page{% endblock %}
{% block body %}
    <h2 class="header">All Posts</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'create_newPost' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3 my-3 newPost">
                <label for="content"><h5>New Post</h5></label>
                <textarea class="form-control" rows="5" name="text" id="content"></textarea>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
        {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}

    {% endif %}

    {% for post in page_obj %}
        <div class="post" id="post-{{ post.id }}">
            <a href="{% url 'profile' user_id=post.author.id %}"><strong>{{ post.author }}</strong></a>
            {% if user.is_authenticated and post.author.id == user.id %}
                <a class="edit-link" href="#">Edit</a>
            {% endif %}
            <p id="content-{{ post.id }}">{{ post.content }}</p>
            <p>{{ post.date_time }}</p>
            <div class="div-likes">
                <p class="like" id="like-{{ post.id }}"><i class="bi bi-hand-thumbs-up"></i>{{ post.likes_count }}</p>
                <p class="dislike" id="dislike-{{ post.id }}"><i class="bi bi-hand-thumbs-down"></i>{{ post.dislikes_count }}</p>
            </div>
        </div>
        <!-- Create div for edit post when user click edit-link -->
        <div class="post-edit" id="edit-post-{{ post.id }}" style="display: none;">
            <form id="edit-form-{{ post.id }}">
                <div class="mb-3 my-3 newPost">
                    <label for="content"><h5>Edit Post</h5></label>
                    <textarea class="form-control" rows="5" name="text" id="edit-content-{{ post.id }}">{{ post.content }}</textarea>
                    <button type="submit" class="btn btn-warning">Save</button>
                </div>
            </form>
        </div>
    {% empty %}
        <p>No posts yet!</p>
    {% endfor %}
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page >= page_obj.number|add:"-2" and page <= page_obj.number|add:"2" %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
            {% endif %}
        </ul>
    </div>
    
    
        

{% endblock %}