{% extends 'network/layout.html' %}

{% block title %}Profile: {{ profile_user.username }}{% endblock %}

{% block page_id %}profile-page{% endblock %}

{% block body %}
    <div class="card">
        <h2>{{ profile_user.username }}</h2>
        <p id="followers">{{ profile_user.followers.count }} followers</p>
        {% if user.is_authenticated and user.id != profile_user.id %}
            <button data-user="{{ profile_user.id }}" class="btn btn-primary" id="follow-btn" {% if is_following %} style="display: none;" {% endif %}>Follow</button>
            <button data-user="{{ profile_user.id }}" class="btn btn-danger" id="unfollow-btn" {% if not is_following %} style="display: none;" {% endif %}>Unfollow</button>
        {% endif %}
    </div>
    {% for post in page_obj %}
        <div class="post" id="post-{{ post.id }}">
            <a href="{% url 'profile' user_id=post.author.id %}"><strong>{{ post.author }}</strong></a>
            {% if user.is_authenticated and post.author.id == user.id %}
                <a class="edit-link" href="#">Edit</a>
            {% endif %}
            <p id="content-{{ post.id }}">{{ post.content }}</p>
            <p>{{ post.date_time }}</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
              </svg>{{ post.likes.count }}</p>
        </div>
        <!-- Create div for edit post when user click edit-link -->
        <div class="post-edit" id="edit-post-{{ post.id }}" style="display: none;">
            <form action="#" id="edit-form-{{ post.id }}" method="PUT">
                {% csrf_token %}
                <div class="mb-3 my-3 newPost">
                    <label for="content"><h5>Edit Post</h5></label>
                    <textarea class="form-control" rows="5" name="text" id="edit-content-{{ post.id }}">{{ post.content }}</textarea>
                    <button type="submit" class="btn btn-warning">Save</button>
                </div>
            </form>
        </div>
    {% empty %}
        <p>The {{ profile_user.username }} has no posts yet!</p>
    {% endfor %}
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page >= page_obj.number|add:"-2" and page <= page_obj.number|add:"2" %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
            {% endif %}
        </ul>
    </div>
    

        <!-- <span class="step-links">
            {% if page_obj.has_previous %}
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                </ul>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                </ul>
            {% endif %}
        </span>
    </div> -->
{% endblock %}