.header {
    margin-left: 10px;
}

.newPost {
    box-sizing: border-box;
    border: 1px solid #dad7d7;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
}

.newPost button {
    margin-top: 5px;
}

/* Style for div post on page All posts */
.emptyList {
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.post {
    border: 1px solid #dad7d7;
    border-radius: 5px;
    box-sizing: border-box;
    width: 98%;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.post > p {
    font-size: 0.9em;
    color: grey;
    margin: 0;
}

.post > p:first-of-type{
    color: #111111;
    word-wrap: break-word;
}

.post > a {
    display: block;
    font-size: 0.9em;
}

.post > a:first-of-type{
    color: #111111;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.post > a:first-of-type:hover{
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #d8d4d4;
}

.div-likes > p, .div-likes > a {
    display: inline;
    /* margin-right: 5px; */
    font-size: 0.9em;
    color: grey;
}

.div-likes a {
    cursor: pointer;
}

.div-likes .like {
    color: blue;
}

.div-likes .dislike {
    color: red;
}

/* Style for page Profile */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px 0px 0px;
}
  
#followers {
    color: rgb(78, 78, 199);
    font-size: 1em;
    margin-bottom: 0px;
}

#followings {
    color: red;
    font-size: 1em;
}
  
.card button {
    border: none;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
    
.card button:hover, a:hover {
    opacity: 0.7;
}
